/*11. Crear una web que presente dos listas de tres elementos, los cuales deben ser textos
de, al menos, dos líneas. La primera lista debe ser ordenada con números romanos
en minúscula y con todo el texto indentado después de la viñeta. La segunda lista
debe presentar viñetas que sean imágenes pequeñas (caras de princesas Disney) y el
texto, a partir de la segunda línea, debe ir debajo de la viñeta. */

#li1{
list-style-type:lower-roman;
list-style-position:outside;

}
#li2{
    list-style-position:inside;
    list-style-image: url('imagenes/hola.png');
}
li{
    padding-left:20px;
}
